# pandas - DataFrames Part 3

In [4]:
import numpy as np
import pandas as pd

In [9]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [15]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.503564  1.259750
   2  0.747286  2.492208
   3 -0.035352  0.011311
G2 1  0.848780  0.080366
   2 -0.438754 -0.584859
   3 -0.458572  2.506094

In [17]:
df.loc['G1'].loc[1]

A    0.503564
B    1.259750
Name: 1, dtype: float64

In [18]:
df.index.names

FrozenList([None, None])

In [19]:
df.index.names = ['Groups','num']

In [20]:
df

                   A         B
Groups num
G1     1    0.503564  1.259750
       2    0.747286  2.492208
       3   -0.035352  0.011311
G2     1    0.848780  0.080366
       2   -0.438754 -0.584859
       3   -0.458572  2.506094

In [25]:
df.loc['G2'].loc[2]['B']

-0.5848593187652321

In [28]:
df.loc['G1'].loc[3]['A']

-0.03535233186510747

In [30]:
df.xs('G1')

            A         B
num
1    0.503564  1.259750
2    0.747286  2.492208
3   -0.035352  0.011311

In [32]:
df.xs(1,level='num')

               A         B
Groups
G1      0.503564  1.259750
G2      0.848780  0.080366