In [1]:
1+1

2

In [2]:
1*3

3

In [3]:
2**4

16

In [4]:
5%2

1

In [5]:
(2+3)*(5+5)

50

In [6]:
5**10

9765625

In [7]:
x =2
y=3

In [8]:
z=x+y
z

5

In [9]:
'single quotes'

'single quotes'

In [10]:
"single quotes"

'single quotes'

In [11]:
x='hello'

In [12]:
x

'hello'

In [13]:
print(x)

hello

In [14]:
num=12 
name='sam'

In [15]:
print('my number is:{one}, and my name is :{two}'.format(one=num, two=name)   )

my number is:12, and my name is :sam

In [18]:
num=18
name='blon'

In [21]:
print('my number is :{one} and my name is: {two}'.format(one=num,two=name))

my number is :18 and my name is: blon

In [23]:
{1,2,3}

{1, 2, 3}

In [24]:
['hi',1,[1,21]]

['hi', 1, [1, 21]]

In [25]:
my_list = ['a','b','c']

In [26]:
my_list.append('d')

In [27]:
my_list

['a', 'b', 'c', 'd']

In [28]:
my_list.append('e')

In [29]:
my_list

['a', 'b', 'c', 'd', 'e']

In [30]:
print(my_list)

['a', 'b', 'c', 'd', 'e']

In [32]:
my_list[0]

'a'

In [33]:
my_list[1]

'b'

In [34]:
my_list[2]

'c'

In [35]:
my_list[3]

'd'

In [36]:
my_list[4]

'e'

In [41]:
my_list[2:]

['c', 'd', 'e']

In [42]:
my_list[:3]

['a', 'b', 'c']

In [44]:
my_list[0] = 'NEW'

In [45]:
my_list

['NEW', 'b', 'c', 'd', 'e']

In [46]:
nest = [1,2,3,[4,5,['target']]]

In [47]:
nest[3]

[4, 5, ['target']]

In [48]:
nest[3][2]

['target']

In [49]:
nest[3][2][0]

'target'

In [50]:
d = {'key1' :'item1','key2':'item2'}

In [51]:
d

{'key1': 'item1', 'key2': 'item2'}

In [52]:
d['key1']

'item1'

In [53]:
d['key2']

'item2'

In [56]:
e={'key1':'item1','key2':'item2'}

In [57]:
e

{'key1': 'item1', 'key2': 'item2'}

In [ ]:
e['key1']

In [59]:
e['key2']

'item2'

In [64]:
print('booleans')

booleans

In [66]:
True

True

In [67]:
False

False

In [68]:
print('tuples')

tuples

In [69]:
t = (1,2,3)

In [73]:
t[1]

2

In [77]:
t[0]= 'New'

TypeError: 'tuple' object does not support item assignment

In [78]:
print('sets')

sets

In [79]:
{1,2,3}

{1, 2, 3}

In [80]:
{1,2,3,1,2,3,4,3,2,2,3,1,2}

{1, 2, 3, 4}

In [81]:
print('Comparion OPerator')

Comparion OPerator

In [90]:
1>2

False

In [91]:
3<4

True

In [92]:
5==5

True

In [93]:
'hi' =='bye'

False

In [94]:
'hi' == 'hi'

True

In [95]:
print('logic operator')

logic operator

In [96]:
(1<2) and (2<3)

True

In [97]:
(1>2) and (2<3)

False

In [99]:
print('if, elif, else statements')

if, elif, else statements

In [107]:
if(1>2):
    print('it true')
else:
    print('its false')

its false

In [110]:
if(1<2):
    print('hell yeah')
elif (2==2):
    print('ouu yeah')
else:
    print('no way')

hell yeah

In [111]:
print('for loop')

for loop

In [112]:
seq = [1,2,3,4,5]

In [113]:
for item in seq:
    print(item)

1
2
3
4
5

In [114]:
for item in seq:
    print('yep')

yep
yep
yep
yep
yep

In [ ]:
for jelly in seq:
    print(jelly+jelly)

In [ ]:
for fire in seq:
    print(fire*fire)

In [2]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [3]:
i=1
while i <5:
    print(' i is {}'.format(i))
    i = i+2

 i is 1
 i is 3

In [4]:
print('range')

range

In [10]:
range(5)

range(0, 5)

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
range(10)

range(0, 10)

In [15]:
for j in range(12):
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11

In [17]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
print('list comprehension')

list comprehension

In [22]:
x=[1,2,3,4,5]

In [23]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16, 25]

In [25]:
[item**2 for item  in x]

[1, 4, 9, 16, 25]

In [27]:
[item+2  for item in x]

[3, 4, 5, 6, 7]

In [1]:
y=[9,8,7,6,5]

In [2]:
[item-1 for item in y]

[8, 7, 6, 5, 4]

In [4]:
i=2
while i<8:
    print('i is {}'.format(i))
    i=i+2

i is 2
i is 4
i is 6

In [5]:
print('list comprehension')

list comprehension

In [6]:
x=[1,2,3,4,5]

In [8]:
out =[]
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16, 25]

In [10]:
[item**3 for item in x]

[1, 8, 27, 64, 125]

In [11]:
print('function')

function

In [19]:
def my_func(param1='default'):
   """ 
   docsting goes here . 
   """
   print(param1)

In [15]:
my_func

In [18]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [20]:
my_func

In [22]:
my_func()

default

In [23]:
my_func('new param')

new param

In [24]:
my_func(param1='new param')

new param

In [25]:
def square(x):
    return x**2

In [27]:
out=square(2)

In [28]:
print(out)

4

In [29]:
print('lambda expression')

lambda expression

In [30]:
def times2(var):
    return var*2

In [31]:
times2(2)

4

In [32]:
def cube(x):
    return x*x*x

In [33]:
out = cube(2)

In [35]:
print(out)

8

In [36]:
lambda var: var*2

In [37]:
print('map and filter')

map and filter

In [38]:
seq = [1,2,3,4,5]

In [44]:
map(times2, seq)

In [46]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [47]:
filter(lambda item:item%2 == 0, seq)

In [48]:
list(filter(lambda item:item%2 == 0, seq))

[2, 4]

In [49]:
print('method')

method

In [50]:
st = 'hello my name is utsav'

In [51]:
st.lower()

'hello my name is utsav'

In [52]:
st.upper()

'HELLO MY NAME IS UTSAV'

In [53]:
st.split()

['hello', 'my', 'name', 'is', 'utsav']

In [54]:
tweet = 'go sports! £sports'

In [55]:
tweet.split()

['go', 'sports!', '£sports']

In [57]:
tweet.split('£')

['go sports! ', 'sports']

In [59]:
tweet.split('£')[1]

'sports'

In [1]:
d = {'key1' :'item1','key2':'item2'}

In [2]:
d

{'key1': 'item1', 'key2': 'item2'}

In [3]:
d.keys()

dict_keys(['key1', 'key2'])

In [5]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [8]:
lst =[1,2,3]

In [9]:
lst.pop()

3

In [11]:
lst

[1, 2]

In [12]:
'x' in [1,2,3]

False

In [13]:
'x' in ['X','Y','Z']

False